@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/newlwayout.cshtml";
    //Layout = "~/Views/Shared/newlyayout2.cshtml";
}
<div style="text-align:center;margin-left:auto;margin-right:auto; color: #48e019;">

    <h2>@ViewBag.Title About Us</h2> <br />
    <h4>Olwandle Hotel</h4>
    <br />

    <h5>Our aim</h5>

    <p> At Olwandle Hotel , our aim is to make our guest feel more special and comfortable on their stay and   <br>
        experience as pleasent as possible the services that we provide as Olwandle hotel  <br>
        By incorporating the latest in modern technology, a transparent goal-oriented workflow and flow <br>
        and friendly service - we have everything needed to get you smiling time and again. <br />
        We aim to provide accessible high quality Olwandle hotel services  <br>
        This includes room services, spa treatment and other services.
    
    <br>
         <br>
    </p>


    <h5>Our mission</h5>

    <p>
       Our mission is to improve the reservations online for our customers to find the best reservation online which will be of a very much affordable prices     <br>
        To be committed to excellence in all of our services to our guest so that <br>
        we may help them achieve the highest level of Olwandle Hotel suite appropriate for their needs in our place for stay.
        

    </p>

    <h5>Our vision</h5>

    <p>
        We at Olwandle Hotel will continually update ourselves regarding the best and most current materials <br>
        and technology available in Olwandle Hotel online booking system <br />
        We will treat the guest with the highest level of care and comfort.  <br>
        We will adapt,grow and evolve with our profession and society. <br />
        We will appreciate , communicate and emphathize with our guest and our fellow team members so that we <br>
        may enhance the lives of every person involved in achieving our mission
        

    </p>


</div>