@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/newlwayout.cshtml";
}
else
{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/newlyayout2.cshtml";
}

<section class="no-padding-top no-padding-bottom">
 
   <br /> 
    Olwandle Hotel
    <br />
    Address
    <br />
    101 Stalwarts Simelane Street
    <br />
    
    <br />
    Durban
    <br />
    Kwa-Zulu Natal
    <br />
    4001
    <br />
    South Africa
    <br />
    Contact
    <br />
    TEL: +27 31 202 6584

</section>
 
    


<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <h4 style="color:blue;text-align:center; ">Management</h4>
        <div class="row">
            <div class="col-md-3 col-sm-6" >
                <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <strong  >Miss KG Mvelase</strong><br />
                            <h6 class="text-primary">CEO & Founder of Hotel</h6>
                        </div>
                    </div>
                    <div>
                        <a>031 2744407</a>
                        <address>khanyiswa5664.km@gmail.com</address>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <strong>Mr CI Whati</strong><br />
                            <h6 class="text-primary">Admin</h6>
                        </div>
                    </div>
                    <div>
                        <a>031 2744407</a>
                        <address>ciwhati@gmail.co.za</address>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <strong>Mr M Nqcobo</strong><br />
                            <h6 class="text-primary">Mananger</h6>
                        </div>
                    </div>
                    <div>
                        <a>031 2744451</a>
                        <address>muzikayisengcobo8@gmail.com</address>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <strong>Mr MG Mthembu</strong><br />
                            <h6 class="text-primary">Vice-Mananger</h6>
                        </div>
                    </div>
                    <div>
                        <a>031 2744403</a>
                        <address>M@gmail.com</address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>