@{
    ViewBag.Title = "Home Page";
}


  



<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5bd71603476c2f239ff673aa/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->



<section class="cd-hero" style="margin: 0;padding-left: 0px;padding-right: 0px;" >
    
 
    <ul class="cd-hero-slider autoplay">

       


        <li class="selected">

          

            <div class="cd-full-width">
                <div class="tm-slide-content-div">
                   
                   
                   
                    </div>
                </div>
            </div><!-- .cd-full-width -->
        </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
        <div id="TexAnim">
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
        </div>
      
    </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->



<section class="tm-section tm-section-3 tm-bg-purple">
    <div class="container-fluid tm-section-3-inner">
        <div class="row center-block text-xs-center tm-section-3-header">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</section>











@section Homepage {
<style>
    .console-container {   
   
        font-family: Khula;
        font-size: 2em;
        text-align: center;
        height: 200px;
        width: 600px;
        display: block;
        position: absolute;
        color: white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .console-underscore {
        display: inline-block;
        position: relative;
        top: -0.14em;
        left: 10px;
    }
    #TexAnim {
        position: absolute;
        bottom: 12px;
        
    }
</style>



}
