@model OlwandleHotel.Models.Reservation

@{
    ViewBag.Title = "ThankYouPage";
    Layout = "~/Views/Shared/newlwayout.cshtml";
}


<br /><br />
<div class="panel panel-info" style="width:40%;margin-left:30%">
    <div class="panel panel-heading">
        <h3 style="text-align:center">Successfully Booked</h3>
        <p style="text-align:center">
            Thank You for Booking with the SeaView Hotel, we hope you will enjoy your stay.
            If you need more information about the hotel, feel free to contact us using our online chat system which is available on our website.
            You can also click on "My Bookings" navigation bar to check your previous bookings or you can also book for an Event.
        </p>
    </div>
</div>

