
@{
    ViewBag.Title = "ConfirmedBooking";
    Layout = "~/Views/Shared/newlwayout.cshtml";
}

<h2>Reservation has been successfully Confirmed</h2>
<br/><br/>
     <h4>@Html.ActionLink("Return to List", "Index", "Reservations1")</h4>


