@model OlwandleHotel.Models.Description
@using Microsoft.Owin.Security

<div>
    <h4>Description</h4>
    <hr />

    @{      
        
            <div>
                <p>
                    Day Event Price-
                </p>
                <p>
                   Night Event Price-
                </p>
                <p>
                    Day First Discount-
                </p>
                <p>
                    Day Second Discount
                </p>
                <p>
                    Night First Discount
                </p>
                <p>
                    Night Second Discount
                </p>
                <p>
                    Day Second Discount
                </p>
            </div>

    }

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReturnUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnUrl)
        </dd>

    </dl>*@
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.desc }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
