@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        @*<a href="login.html" class="button-head-mow3 text-white">Login</a>*@
            @Html.ActionLink(User.Identity.GetUserName() + "", "CustomerDashBord", "Customers", routeValues: null, htmlAttributes: new { title = "DashBordPage" })
      
        <a href="javascript:document.getElementById('logoutForm').submit()" class ="button-head-mow3 text-white">Log off</a>

    }
}
else
{
    
      @Html.ActionLink("Register", "Registerp", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "button-head-mow3 text-white" })
      @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button-head-mow3 text-white", @style = "margin-left:6px;" })
  
}
