@model OlwandleHotel.Models.Description

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Description</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReturnUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.desc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
