
<style>
    body {
        background-image: url("../../Content/img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-041.jpg");
    }
</style>

<div style="width:37%; height:50%; float:left">
    @{ Html.RenderAction("PersonalP");}
</div>
<div style="width:50%; height:50%; float:left">
    @{ Html.RenderAction("WalkinP");}
</div>


@{ Html.RenderAction("JoinP");}
